html {
  background-color: #000 !important;
  overflow-x: hidden;
}
body {
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, Heebo-Regular, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Heebo-Regular, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
}
span,
div,
button {
  font-family: Heebo-Regular;
}
.column {
  display: flex;
  flex-direction: column;
}

/* fonts */

@font-face {
  font-family: "Heebo-Medium";
  src: url("../public/assets/fonts/Heebo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-Bold";
  src: url("../public/assets/fonts/Heebo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-ExtraBold";
  src: url("../public/assets/fonts/Heebo-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-Light";
  src: url("../public/assets/fonts/Heebo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-Regular";
  src: url("../public/assets/fonts/Heebo-Regular.ttf") format("truetype");
}
